# Node modules
node_modules/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libraries
lib-cov

# Coverage directory used by tools like istanbul
coverage

# NYC coverage directory
.nyc_output

# Dependency directories
jspm_packages/

# TypeScript v1 declaration files
typings/

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
